*,
**::before,
**::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(84, 72, 55);
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(84, 72, 55);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

/***********************************/
.title {
  color: rgb(47, 40, 30);
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 10px;
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 24px;
}

.menu__list-link {
  color: rgb(47, 40, 30);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.user-nav {
  margin-left: 52px;
  margin-right: 13px;
}

.user-nav__link {
  color: rgb(23, 58, 86);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 23px;
  border: 1px solid rgb(188, 208, 229);
  border-radius: 4px;
  text-decoration: none;
}

.user-nav__link+.user-nav__link {
  margin-left: 14px;
  background-color: transparent;
  border-radius: 4px;
  background-color: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
}

/*******************************/

.top__inner {
  padding: 133px 0 80px;
  background-image: url(../images/top-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.top__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 518px;
}

.top__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
  max-width: 460px;
}

.top__btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 153, 0);
  border-radius: 4px;
  padding: 15px 41px 14px;
  margin-right: 30px;
  border: none;
}

.top__link {
  color: rgb(255, 153, 0);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  padding-left: 25px;
  position: relative;
}

.top__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 19px;
  background-image: url(../images/play-icon.svg);
}

/***************************************************/

.tools {
  padding-top: 110px;
}

.tools__title {
  text-align: center;
  max-width: 539px;
  margin: 0 auto 46px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  padding: 0 10px;
}

.tools__inner {
  padding-bottom: 90px;
  background-image: url(../images/tools-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tools__items {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0;
  margin-bottom: 60px;
}

.tools__item {
  width: 240px;
}

.tools__item-img {
  margin-bottom: 30px;
}

.tools__item-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 13px;
}

.tools__link {
  border-radius: 4px;
  background-color: rgb(255, 153, 0);
  display: block;
  padding: 15px 32px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  width: 173px;
  margin: 0 auto;
}

/****************************************/

.direction {
  padding: 120px 0 100px;
}

.direction__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.direction__item-content {
  max-width: 486px;
}

.direction__item-pretitle {
  margin-bottom: 3px;

}

.direction__item-title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 22px;
}

.direction__item-subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.direction__item-titletext {
  margin-bottom: 30px;
}

.direction__item-text {
  margin-bottom: 25px;
}

.direction__list {
  list-style: none;
}

.direction__list-item {
  margin-bottom: 30px;
  padding-left: 65px;
  position: relative;
}

.direction__list-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  height: 35px;
  width: 35px;
  background-image: url(../images/check.svg);
}

/**********************************************/

.team {
  background-image: url(../images/team-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.team__inner {
  padding: 230px 0 380px;
  position: relative;
}

.team__box {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}

.team__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 22px;
}

.team__text {
  color: rgb(86, 117, 146);
  margin-bottom: 45px;
}

.team__btn {
  border-radius: 4px;
  background: rgb(255, 153, 0);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 30px 14px;
}

.team__item {
  position: absolute;
  width: 98px;
  height: 98px;

}

.team__item--1 {
  top: 157px;
  right: 95px;
}

.team__item--2 {
  top: 223px;
  left: 0;
}

.team__item--3 {
  bottom: 257px;
  right: 0;
}

.team__item--4 {
  bottom: 223px;
  left: 210px;
}

.team__item--5 {
  bottom: 157px;
  right: 364px;
}

.team__item-img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.team__item-text {
  border-radius: 26.5px;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  background-color: rgb(255, 255, 255);
  padding: 14px 20px 15px;
  color: rgb(47, 40, 30);
  position: absolute;
  top: -30px;
  right: 75px;
  white-space: nowrap;
}

.team__item-text.team__item-text--left {
  top: -40px;
  right: auto;
  left: 62px;
}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::before,
.team__item-text--left::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
  width: 17px;
  height: 17px;
  bottom: -7px;
  right: 30px;
}

.team__item-text--right::before,
.team__item-text--left::before {
  width: 9px;
  height: 9px;
  bottom: -20px;
  right: 9px;
}

.team__item-text--left::before {
  left: 9px;
  right: auto;
}

.team__item-text--left::after {
  left: 30px;
  right: auto;
}

/**************************************/

.blog {
  padding: 30px 0 120px;
}

.blog__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  margin-bottom: 9px;
}

.blog__text {
  margin-bottom: 55px;
}

.slider {
  margin: 0 -20px;
}

.slider__item {
  padding: 0 20px;
}

.slider__item-img {
  width: 348px;
  height: 185px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 25px;
}

.slider__item-info {
  margin-bottom: 12px;
  line-height: 28px;
}

.slider__item-author {
  color: rgb(84, 72, 55);
  text-decoration: none;
  font-weight: 700;

}

.slider__item-title {
  text-decoration: none;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 80px;
  display: inline-block;
  transition: all .5s;
}

.slider__item-title:hover {
  color: rgb(255, 153, 0);
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}

.slick-dots button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  padding: 0;
  margin: 0 5px;
  background-color: rgb(239, 239, 239);
}

.slick-dots .slick-active button {
  background-color: rgb(255, 153, 0);
}

/***************************************/

.footer__inner {
  padding: 105px 0 100px;
  border-top: 1px solid rgba(188, 208, 229, 0.5);
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  width: 135px;
}

.footer__menu-title,
.footer__form-text {
  color: rgb(47, 40, 30);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 35px;
}

.footer__list {
  list-style: none;
}

.footer__menu-link {
  color: rgb(84, 72, 55);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-decoration: none;
}

.footer__form {
  width: 330px;
}

.footer__form-input {
  border: 1px solid rgb(188, 208, 229);
  height: 48px;
  padding: 0 15px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 21px;
  display: inline-block;
}

.footer__form-input::placeholder {
  color: rgb(188, 208, 229);
  font-size: 16px;
  line-height: 28;
}

.footer__form-btn {
  background-color: rgb(255, 153, 0);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  border: none;
}

/***********************************/

.menu__btn {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.menu__btn span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(47, 40, 30);
}

.menu__btn::after,
.menu__btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: rgb(47, 40, 30);
  left: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}