*,
**::before,
**::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(84, 72, 55);
  font-size: 16px;
  line-height: 26px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: rgb(84, 72, 55);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

/***********************************/
.title {
  color: rgb(47, 40, 30);
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 10px;
}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
}

.menu__list-item+.menu__list-item {
  margin-left: 24px;
}

.menu__list-link {
  color: rgb(47, 40, 30);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.user-nav {
  margin-left: 52px;
  margin-right: 13px;
}

.user-nav__link {
  color: rgb(23, 58, 86);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 11px 23px;
  border: 1px solid rgb(188, 208, 229);
  border-radius: 4px;
  text-decoration: none;
}

.user-nav__link+.user-nav__link {
  margin-left: 14px;
  background-color: transparent;
  border-radius: 4px;
  background: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
}

/*******************************/

.top__inner {
  padding: 133px 0 80px;
  background-image: url(../images/top-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.top__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 518px;
}

.top__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
  max-width: 460px;
}

.top__btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: rgb(255, 153, 0);
  border-radius: 4px;
  padding: 15px 41px;
  margin-right: 30px;
  border: none;
}

.top__link {
  color: rgb(255, 153, 0);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  padding-left: 25px;
  position: relative;
}

.top__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 19px;
  background-image: url(../images/play-icon.svg);
}

/***************************************************/

.tools {
  padding-top: 110px;
}

.tools__title {
  text-align: center;
  max-width: 539px;
  margin: 0 auto 46px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  padding: 0 10px;
}

.tools__inner {
  padding-bottom: 90px;
  background-image: url(../images/tools-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tools__items {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0;
  margin-bottom: 60px;
}

.tools__item {
  width: 240px;
}

.tools__item-img {
  margin-bottom: 30px;
}

.tools__item-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 13px;
}

.tools__link {
  border-radius: 4px;
  background: rgb(255, 153, 0);
  display: block;
  padding: 15px 32px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  transition-duration: none;
  width: 173px;
  margin: 0 auto;
}

/****************************************/

.direction {
  padding: 120px 0 100px;
}

.direction__item {
  display: flex;
  justify-content: space-between;
}

.direction__item-content {
  max-width: 486px;
}

.direction__item-pretitle {
  margin-bottom: 3px;

}

.direction__item-title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 22px;
}

.direction__item-subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.direction__item-titletext {
  margin-bottom: 30px;
}

.direction__item-text {
  margin-bottom: 25px;
}

.direction__list {
  list-style: none;
}

.direction__list-item {
  margin-bottom: 30px;
  padding-left: 65px;
  position: relative;
}

.direction__list-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  height: 35px;
  width: 35px;
  background-image: url(../images/check.svg);
}